RewriteEngine On
RewriteBase /

RewriteRule ^search/genders/?$ /searchgenders.php [L,QSA]
RewriteRule ^search/users/?$ /searchusers.php [L,QSA]
RewriteRule ^users/([a-zA-Z0-9_-]+)/?([0-9]{4}-[0-9]{2}-[0-9]{2})?/?([0-9]{4}-[0-9]{2}-[0-9]{2})?$ /users.php?username=$1&start_date=$2&end_date=$3 [L,QSA]
RewriteRule ^genders/?$ /searchgenders.php [L,QSA]
RewriteRule ^genders/([a-zA-Z0-9_.-]+)/?/?([0-9]{4}-[0-9]{2}-[0-9]{2})?/?([0-9]{4}-[0-9]{2}-[0-9]{2})?$ /genders.php?project=$1&start_date=$2&end_date=$3 [L,QSA]
RewriteRule ^users/([a-zA-Z0-9_.-]+)/([a-zA-Z0-9_-]+)/?/?([0-9]{4}-[0-9]{2}-[0-9]{2})?/?([0-9]{4}-[0-9]{2}-[0-9]{2})?$ /users.php?project=$1&username=$2&start_date=$3&end_date=$4 [L,QSA]

RewriteRule ^rankings/wikis$ rankingswiki.php [L]

RewriteRule ^compare/wiki/([a-zA-Z0-9_.-]+)/?/?([0-9]{4}-[0-9]{2}-[0-9]{2})?/?([0-9]{4}-[0-9]{2}-[0-9]{2})?$ /comparewiki.php?project=$1&start_date=$2&end_date=$3 [L,QSA]

RewriteRule ^api/stats/([a-zA-Z0-9_-]+)$ /api/stats.php?project=$1 [L,QSA]
RewriteRule ^api/genders/graph/([a-zA-Z0-9_.-]+)(?:/([0-9]{4}-[0-9]{2}-[0-9]{2}))?(?:/([0-9]{4}-[0-9]{2}-[0-9]{2}))?$ /api/genders/graph.php?project=$1&start_date=$2&end_date=$3 [L,QSA]
RewriteRule ^api/genders/stats/([a-zA-Z0-9_.-]+)(?:/([0-9]{4}-[0-9]{2}-[0-9]{2}))?(?:/([0-9]{4}-[0-9]{2}-[0-9]{2}))?$ /api/genders/stats.php?project=$1&start_date=$2&end_date=$3 [L,QSA]
RewriteRule ^api/users/stats/([a-zA-Z0-9_.-]+)/([a-zA-Z0-9_-]+)(?:/([0-9]{4}-[0-9]{2}-[0-9]{2}))?(?:/([0-9]{4}-[0-9]{2}-[0-9]{2}))?$ /api/users/stats.php?project=$1&username=$2&start_date=$3&end_date=$4 [L,QSA]
RewriteRule ^api/users/graph/([a-zA-Z0-9_.-]+)/([a-zA-Z0-9_-]+)(?:/([0-9]{4}-[0-9]{2}-[0-9]{2}))?(?:/([0-9]{4}-[0-9]{2}-[0-9]{2}))?$ /api/users/graph.php?project=$1&username=$2&start_date=$3&end_date=$4 [L,QSA]
